@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.container{
    width: 1440px;
    height: 318px;
    opacity: 1;
}
.heading{
    width: 1249px;
    height: 65px;
    opacity: 1;
    margin-right: 95.5px;
    margin-left: 95.5px;
    text-align: center;
    font-family: 'Figtree', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
.content-head{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    margin-top: 0px;
    margin-bottom: 8px;
    content: #1A1A1A;

}
.para{
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    margin: 0px;
    color: #474747;
    font-family: 'Figtree', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    


}
.car{
    width: 1300px;
    height: 231px;
    opacity: 1;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
}
.carousel {
    margin: 0px;
    display: flex;
    overflow-x: auto;
    overflow-y: none;
    height: 240px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    width: 1300px;
    height: 231px;
    opacity: 1;
    gap: 40px;
    
}

.card {
    width: 295px;
    height: 231px;
    opacity: 1;
    gap: 12px;
    flex: 0 0 auto;
    

}

.meta {
    height:19px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    font-family: Figtree;
    font-weight: 600;
}
.name {
    font-family: Figtree;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #1A1A1A;
}
.city {
    font-family: Figtree;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #F58420;
}
.img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;

}
.image-layout {
    overflow: hidden;
    width: 295px;
    height: 200px;
    opacity: 1;
    border-radius: 20px;
}

@media (max-width: 480px) {
    .card {
        width: 220px;
        height: 180px;
    }

    .image-layout {
        height: 120px;
    }
}

.why-clove-container{
    width: 1181px;
    height: 525px;
    opacity: 1;
    margin: 40px  109.5px 40px 109.5px;
}
.heading-2{
    width: 1181px;
    height: 63px;
    opacity: 1;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Figtree', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
.photo-container{
    width: 1181px;
    height: 422px;
    margin-top: 40px;
    display: flex;
}
.text{
    width: 720px;
    height: 422px;

}
.sub-text{
    width: 624px;
    height: 265px;
    margin: 0px;
}
.img-2{
    width: 461px;
    height: 422px;
    opacity: 1;
    border-radius: 20px;
}
.features-list { 
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction:column; 

}
.feature-item {
margin-bottom: 45px;
display: flex; 
align-items: center; 
justify-content: space-between; 
font-family: 'Figtree', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; 
font-weight: 600; 
font-size: 16px; 
line-height: 100%;
letter-spacing: 0;
color: #1A1A1A; }
.feature-item:last-child { 
    margin-bottom: 0;
}
.plus-icon { 
display: inline-flex;
align-items: center; 
justify-content: center; 
 color: #ff7a00; 
 font-weight: 700; 
 font-size: 32px;
 }
 .testimonals{
     width: 1320px;
     height: 479px;
     opacity: 1;
     margin: 20px 60px 20px 60px;
 }
 .testimonials-heading{
    width: 820px;
    height: 61px;
    margin:20px 250px 20px 250px;
    text-align: center;


 }
 .testimonials-car {
    margin: 0px;
    display: flex;
    overflow-x: auto;
    overflow-y: 0px;
}

.testimonials-car::-webkit-scrollbar {
    display: none;
}
 .carousel-items{
    width: auto;
    height: 398px;
    display: flex;
    margin: 0px;

}
.cards{
width: 224px;
height: 398px;
flex: 0 0 auto;
margin-left:8px;
}
.imgs{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    

}
.image-layouts{
    overflow: hidden;
    width: 224px;
    height: 350px;
    opacity: 1;
    border-radius: 10px;

}

.metas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Figtree;
    font-weight: 600;
    margin-top: 0px;
}
.names{
    font-family: Figtree;
    font-weight: 600;
    font-size: 16px;
    color: #1A1A1A;
}
.citys{
    font-family: Figtree;
    font-weight: 600;
    font-size: 14px;
    color: #F58420;
}
.testimonials-headings{
font-weight: 700;
font-style: Bold;
font-size: 24px;
margin-bottom: 4px;
line-height: 130%;
letter-spacing: 0%;
font-family: 'Figtree', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;

}
.paras{
font-family: 'Figtree', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
font-weight: 400;
font-size: 20px;
line-height: 130%;
margin: 0px;
}
.book{
width: 1320PX;
height: 189PX;
background-color: #FFF9F4;
opacity: 1;
border-radius: 10px;
padding: 16px 12px 16px 12px;
margin: 60px 20px 60px 20px;
}
.book-head{
font-family: 'Figtree', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
font-weight: 700;
font-size: 24px;
line-height: 130%;
color: #303030;
text-align: center;
margin-top: 15px;
margin-bottom: 22px;

}
.book-placeholders{
    display: flex;
}
.namess{
    width: 406px;
height: 38px;
margin-right: 5px;
opacity: 1;
border-radius: 24px;
padding-top: 17px;
padding-right: 16px;
padding-bottom: 17px;
padding-left: 16px;
border-width: 1px;
border: 1px solid var(--Strokes, #FFE0C4)
}
.phones{
    width: 386px;
height: 38px;

opacity: 1;
border-radius: 24px;
padding-top: 17px;
padding-right: 16px;
padding-bottom: 17px;
padding-left: 16px;
border-width: 1px;
margin-right: 5px;

}
.captchs{
    width: 296px;
height: 38px;

opacity: 1;
padding-top: 17px;
padding-right: 16px;
padding-bottom: 17px;
padding-left: 16px;
border-width: 1px;
border-top-left-radius: 24px;
border-bottom-left-radius: 24px;
}
.cap{
    width: 90px;
height: 38px;

opacity: 1;
padding-top: 17px;
padding-right: 16px;
padding-bottom: 17px;
padding-left: 16px;
border-top-right-radius: 24px;
border-bottom-right-radius: 24px;
background: var(--Brown, #462512);


}
.form-disclaimer {
    font-size: 12px;
    color: var(--color-grey);
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: right;
}
.buttons{
width: 306px;
height: 38px;
opacity: 1;
border-radius: 24px;
padding: 16px;
background: var(--Orange, #F58420);
font-family: Figtree;
font-weight: 600;
color: #ffffff;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
border: 0px solid;

}
.containers{
    width: 1320;
    height: 417;
    opacity: 1;
    gap: 20px;
}
.text-container{
    gap: 8px;
}
.treatment-head{
    font-family: Figtree;
    font-weight: 700;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0;
    text-align: center;
    width: 355;
    height: 31;
    opacity: 1;
    color: #1A1A1A;
}
.treatment-detail{
    font-family: Figtree;
    font-weight: 400px;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #474747;
}
.treatment-card{
    display: flex;
    width: 640px;
    height: 332px;
    opacity: 1;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color:#FFE0C4;
    

}
.card-detail{
    width: 320px;
    height: 332px;
    opacity: 1;
    gap: 16px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    display: flex;

}
.btn{
    width: 181px;
    height: 38px;
    gap: 16px;
    border-radius: 50px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    background-color:#F58420;
    border-color: #F58420;
    font-family: Figtree;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #ffffff;
}
.price{
    font-family: Figtree;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;

}
.price-head{
    font-family: Figtree;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #F58420;
}
.price-container{
    width: 181;
    height: 104;
    opacity: 1;
    gap: 20px;
}
.Treatment-type{
    font-family: Figtree;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
}
.treatment-detail{
    font-family: Figtree;
font-weight: 400;
font-size: 16px;
color: #474747;
line-height: 130%;
}
.types{
    font-family: Figtree;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
}
.point{
    font-family: Figtree;
font-weight: 400;
color: #474747;
font-size: 16px;
line-height: 130%;


}
.teeth-img{
    width: 320px;
height: 332px;
angle: 0 deg;
opacity: 1;

}
.treatment-container{
    width: 1320px;
    height: 417px;
    opacity: 1;
    margin: 0px 60px 0px 60px;
    gap: 20px;
    display: flex;
}
